.pattern{

	text-align:center;
	margin:0 auto;
		
}
p {
	margin: 0 5px 5px 20px;
	font-size: 17px;
	font-family: Yu Gothic;	
}

.title{
	color:#8B2252;
	/*font-size:20px;*/
}

#indexPics{
	transition: all 2s;    
}

#indexPics:hover{
	transition: all 2s;
    transform: scale(2);
}

#shift_burron{
	background-color: #EED2EE;
	border-radius: 6px;
	font-size: 15px;
	/*font-color:#5D478B;*/
	font-family: Comic Sans MS,arial,helvetica,sans-serif;
	/*font-family: Yu Gothic;*/
	width: 100px;
	height: 35px;	
	border: 0px;
}

.goBack{
	background-color: #CD9B9B;
	border-radius: 6px;
	font-size: 15px;
	/*font-color:#5D478B;*/
	font-family: Comic Sans MS,arial,helvetica,sans-serif;
	/*font-family: Yu Gothic;*/
	width: 100px;
	height: 35px;	
	border: 0px;
}